
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-to-end:before { content: '\e803'; } /* '' */
.icon-to-start:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-award:before { content: '\e80d'; } /* '' */
.icon-thumbs-up:before { content: '\e80e'; } /* '' */
.icon-thumbs-down:before { content: '\e80f'; } /* '' */
.icon-star-1:before { content: '\e810'; } /* '' */
.icon-star-empty-1:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-star-half:before { content: '\e814'; } /* '' */
.icon-plus-circled:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-plus-squared:before { content: '\e817'; } /* '' */
.icon-minus:before { content: '\e818'; } /* '' */
.icon-cancel-squared:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\e81a'; } /* '' */
.icon-comment:before { content: '\e81b'; } /* '' */
.icon-chat:before { content: '\e81c'; } /* '' */
.icon-th-list:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-pencil:before { content: '\e81f'; } /* '' */
.icon-hammer:before { content: '\e820'; } /* '' */
.icon-globe:before { content: '\e821'; } /* '' */
.icon-phone-circled:before { content: '\e822'; } /* '' */
.icon-phone:before { content: '\e823'; } /* '' */
.icon-at:before { content: '\e824'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-chart-bar:before { content: '\e826'; } /* '' */
.icon-chart-bar-1:before { content: '\e827'; } /* '' */
.icon-attention:before { content: '\e828'; } /* '' */
.icon-attention-circled:before { content: '\e829'; } /* '' */
.icon-login:before { content: '\e82a'; } /* '' */
.icon-logout:before { content: '\e82b'; } /* '' */
.icon-forward:before { content: '\e82c'; } /* '' */
.icon-mail:before { content: '\e82d'; } /* '' */
.icon-location:before { content: '\e82e'; } /* '' */
.icon-target:before { content: '\e82f'; } /* '' */
.icon-users:before { content: '\e830'; } /* '' */
.icon-folder:before { content: '\e831'; } /* '' */
.icon-folder-open:before { content: '\e832'; } /* '' */
.icon-tags:before { content: '\e833'; } /* '' */
.icon-tag:before { content: '\e834'; } /* '' */
.icon-trash-empty:before { content: '\e835'; } /* '' */
.icon-trash:before { content: '\e836'; } /* '' */
.icon-download:before { content: '\e837'; } /* '' */
.icon-download-1:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-sun-filled:before { content: '\e83a'; } /* '' */
.icon-hail-inv:before { content: '\e83b'; } /* '' */
.icon-rain-inv:before { content: '\e83c'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e83d'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e83e'; } /* '' */
.icon-snow-inv:before { content: '\e83f'; } /* '' */
.icon-bus:before { content: '\e840'; } /* '' */
.icon-heart:before { content: '\e841'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */